<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link rel="stylesheet"
          href="style\create_user.css">
</head>
<body>
<div th:insert="header.html"></div>

<header class="mainheader">
    <div class="logo">ReViever</div>
    <div class="register"><button onclick="redirect()">Зареєструватись</button></div>
    <div class="menu">
        <ul>
        <li><a href="#">Бібліотека ігор &#709;</a><ul>
            <li><a href="#">Переглянути список ігор</a></li>
            <li><a href="#">Створити сторінку для гри</a></li>
        </ul></li>
        <li><a href="#">Спільнота </a></li>
    </ul></div>

  </header>
  
<div class="container"></div>
<form method="POST" th:action="@{/users/create_user}" th:object="${user}" class="form">
    <h2 class="form_tittle">ReViever</h2>
    <h1 class="form_tittle">Реєстрація</h1>
    <div class="form_group">
        <input type="text" placeholder="Ім'я" class="form_input"  id="firstName" th:field="*{firstName}"/>
        <br/></div>
   
<div class="form_group">
    <input type="text " placeholder="Прізвище"class="form_input" id="lastName" th:field="*{lastName}"/>
    <br/></div>

    І
<div class="form_group">
    <input type="text" placeholder="Пошта" class="form_input" id="email" th:field="*{email}"/>
    <br/></div>
    

    <input type="submit" class="submit" value="Зареєструватись"/>
    <input type="reset" class="reset" value="Очистити"/>
</form>
</body>
</html>