<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Games</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <style>
        td, tr {
            padding: 0 15px;
            border-bottom: 1px solid grey;
            text-align: center;
        }
        .button{
            background-color: lightskyblue;
            padding: 10px;
            border-radius: 10px;
            width: max-content;
            color: white;
        }
    </style>
</head>
<body>

<div th:insert="header.html"></div>
<h1>List of Games</h1>

<a href="/games/create_game">
    <div class="button">
        Create new User
    </div>
</a>

<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Genre </th>
        <th> User Rating </th>
        <th> Operations </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${gamelist}">
        <td th:text="${gamelist.indexOf(game) + 1}"></td>
        <td th:text="${game.getName()}"></td>
        <td th:text="${game.getGenre()}"></td>
        <td th:text="${game.getAvgScore()}"></td>
        <td>
        <a th:href="@{/games/{id}(id=${game.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>