<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <video src="img/igrimain.mp4" autoplay loop muted class="bg_video"></video>
    <div class="slogan">Welcome to ReViever</div>
    <div class="textus">
        ReViever- is a website created for gamers, 
        who want to keep up to date with the latest news in the gaming industry, look for objective reviews and reliable game scores. 
        Our goal is to provide you with detailed and professional information about various games, 
        so that you can make the right choice, get involved in the exciting gameplay and enjoy the world of virtual adventures.
    </div>
   
  <header class="mainheader">
    <div class="logo">ReViever</div>
    <div class="register"><button onclick="redirect()">Sign up</button></div>
    <div class="menu">
        <ul>
        <li><a href="#">Game library &#709;</a><ul>
            <li><a href="#">View the list of games</a></li>
            <li><a href="#">Create a page for the game</a></li>
        </ul></li>
        <li><a href="#">Community </a></li>
    </ul></div>
  </header>
  
  <div class="grid-container">
    <div class="row1"></video></div>
    <div class="row2">
        <div class="footlogo">ReViever</div>
        <div class="cont"> <div class="autor"><p>Backend-developer: Pryimak Sviatoslav +380 (66) 428 26 68</p>
            <p>Frontend-developer: Taranenko Nazar  +380 (97) 593 63 72</p></div>
    </div>
    <div class="mess">
        <a href="https://www.instagram.com/abrasax_xas/"><img class="instagram" src="img/inst.png" alt="https://www.instagram.com/abrasax_xas/"  ></a>
        <a href="https://t.me/oh_no_way"> <img class="telegram" src="img/tel.png" alt="https://t.me/oh_no_way"></div></a>
       
       
    </div>
  </div>
  
  <script src="js/index.js"></script>
</body>
</html>