<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <video src="img/igrimain.mp4" autoplay loop muted class="bg_video"></video>
    <div class="slogan">Ласкаво просимо на ReViever</div>
    <div class="textus">
        ReViever- вебсторінка, створена для геймерів, 
        які хочуть бути в курсі останніх новин ігрової індустрії, шукати об'єктивні огляди та надійні оцінки ігор. 
        Наша мета - надати вам детальну та професійну інформацію про різноманітні ігри, 
        щоб ви могли зробити правильний вибір, залучитися до захоплюючого геймплею та насолоджуватися світом віртуальних пригод.
    </div>
   
  <header class="mainheader">
    <div class="logo">ReViever</div>
    <div class="register"><button onclick="redirect()">Зареєструватись</button></div>
    <div class="menu">
        <ul>
        <li><a href="#">Бібліотека ігор &#709;</a><ul>
            <li><a href="#">Переглянути список ігор</a></li>
            <li><a href="#">Створити сторінку для гри</a></li>
        </ul></li>
        <li><a href="#">Спільнота </a></li>
    </ul></div>
  </header>
  
  <div class="grid-container">
    <div class="row1"></video></div>
    <div class="row2">
        <div class="footlogo">ReViever</div>
        <div class="autor"><p>Backend-розробник: Святослав Приймак</p>
            <p>Frontend-розробник: Тараненко Назар</p></div>
    </div>
  </div>
  
  <script src="js/index.js"></script>
</body>
</html>