<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Reviews</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <style>
        td, tr {
            padding: 0 15px;
            border-bottom: 1px solid grey;
            text-align: center;
        }
        .button{
            background-color: lightskyblue;
            padding: 10px;
            border-radius: 10px;
            width: max-content;
            color: white;
        }
    </style>
</head>
<body>

<div th:insert="header.html"></div>
<h1>List of Reviews</h1>

<a href="/reviews/create-review">
    <div class="button">
        Create new Review
    </div>
</a>

<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> User </th>
        <th> Game </th>
        <th> Score </th>
        <th> Description </th>
        <th> Operations </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviewlist}">
        <td th:text="${reviewlist.indexOf(review) + 1}"></td>
        <td th:text="${review.getUser()}"></td>
        <td th:text="${review.getGame()}"></td>
        <td th:text="${review.getScore()}"></td>
        <td th:text="${review.getDescription()}"></td>
        <td>
            <a th:href="@{/reviews/{id}(id=${review.id})}">View</a>
            <a th:href="@{/reviews/{id}/delete(id=${review.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>