<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/user_list.css">
</head>
<body>

<div class="grid-container">
    <div class="row1">
        <header class="mainheader">
            <div class="logo"><a href="/">ReViever</a></div>
            <div class="register"> <a href="/users/create_user"><button>Sign up</button></a></div>
            <div class="menu">
                <ul>
                    <li><a href="/games">Game library &#709;</a><ul>
                        <li><a href="/games">View the list of games</a></li>
                        <li><a href="/games/create_game">Create a page for the game</a></li>
                    </ul></li>
                    <li><a href="/users">Community </a></li>
                </ul></div>
        </header>


<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> First name </th>
        <th> Last name </th>
        <th> Email </th>
        <th> View </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userlist}">
        <td th:text="${userlist.indexOf(user) + 1}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}">View</a>
            <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
    </div>
    <div class="row2">
        <div class="footlogo">ReViever</div>
        <div class="cont"> <div class="autor"><p>Backend-developer: Pryimak Sviatoslav +380 (66) 428 26 68</p>
            <p>Frontend-developer: Taranenko Nazar  +380 (97) 593 63 72</p></div>
    </div>
    <div class="mess">
        <a href="https://www.instagram.com/abrasax_xas/"><img class="instagram" src="img/inst.png" alt="https://www.instagram.com/abrasax_xas/"  ></a>
        <a href="https://t.me/oh_no_way"> <img class="telegram" src="img/tel.png" alt="https://t.me/oh_no_way"></div></a>
       
    </div>
</div>
</body>
</html>